services:
  smtp-proxy:
    image: fraddy/smtp-to-apprise
    ports:
      - "8231:8080" # GUI
    environment:
      - GUI_ENABLED=true
      - LISTEN_SMTP=25
      - LISTEN_HTTP=8080
      - STORE_FILE=records.db
      - APPRISE_URL=http://apprise:8000/notify
    volumes:
      - ./data:/app/data/
    depends_on:
      - apprise

#EITHER in the same network
    network:
      - shim_network # Should share it with Apprise and Authelia

# OR in the same compose
  apprise:
    image: caronc/apprise
    ports:
      - "8000:8000"